/**
 * TechUtopiaOverlay styles.
 */

.container {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.1s linear;
}

.emoji {
  font-size: 3rem;
}
