/**
 * BackgroundWorld styles - Placeholder pastoral scene.
 */

.container {
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
}

.scene {
  position: absolute;
  inset: 0;
  transition: filter 0.1s linear;
}

/* Sky gradient - transitions from warm to cool with altitude */
.sky {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    #87ceeb 0%,
    #b0e0e6 30%,
    #f0e6d3 60%,
    #faf3e0 100%
  );
}

/* Distant hills - soft, desaturated */
.hillsFar {
  position: absolute;
  bottom: 30%;
  left: 0;
  right: 0;
  height: 40%;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    #9bb89a 30%,
    #7da87c 100%
  );
  border-radius: 50% 50% 0 0 / 30% 30% 0 0;
  opacity: 0.6;
}

/* Mid hills - rolling green */
.hillsMid {
  position: absolute;
  bottom: 20%;
  left: -10%;
  right: -10%;
  height: 35%;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    #6b8e6b 40%,
    #5a7d5a 100%
  );
  border-radius: 60% 40% 0 0 / 40% 40% 0 0;
  opacity: 0.8;
}

/* Near hills and ground */
.hillsNear {
  position: absolute;
  bottom: 0;
  left: -5%;
  right: -5%;
  height: 30%;
  background: linear-gradient(
    to bottom,
    #5d8a5d 0%,
    #4a7a4a 50%,
    #3d6b3d 100%
  );
  border-radius: 45% 55% 0 0 / 25% 25% 0 0;
}

/* Farmland container */
.farmland {
  position: absolute;
  bottom: 5%;
  left: 10%;
  right: 60%;
  height: 20%;
}

/* Cottage placeholder */
.cottage {
  position: absolute;
  bottom: 20%;
  left: 20%;
  width: 60px;
  height: 50px;
  background: linear-gradient(
    to bottom,
    #8b4513 0%,
    #8b4513 40%,
    #d4a574 40%,
    #d4a574 100%
  );
  border-radius: 2px;
}

.cottage::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -5px;
  width: 70px;
  height: 25px;
  background: #654321;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/* Field patterns */
.fields {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80%;
  background: repeating-linear-gradient(
    45deg,
    #6b8e6b 0px,
    #6b8e6b 10px,
    #5d8a5d 10px,
    #5d8a5d 20px
  );
  opacity: 0.3;
}
