/**
 * Beanstalk container styles.
 */

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 33.333%; /* Left third of viewport */
  height: 100%;
  z-index: 1;
  pointer-events: none;
  transition: opacity 0.1s linear;
}
