/**
 * SegmentWrapper styles.
 */

.wrapper {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform, opacity;
  pointer-events: none;
}

.wrapper > * {
  pointer-events: auto;
}
